config/.*
config/gh/
config/discord/
config/yarn/
config/atlascli/
config/Beeper*/
config/Electron/
config/google-chrome/
config/onlyoffice/
config/spotify/
config/libreoffice/
config/opera/
config/go/
config/nextjs-nodejs
config/pulse/
config/gpick/
config/qt6ct
config/rofi/applets/
config/rofi/launchers/
config/rofi/powermenu/
config/ristretto/
config/*/*.log
config/dconf/
config/xfce4/
config/nvim/lazy-lock.json
config/blender/
config/asciinema
config/dconf
config/autostart/
config/kde*
config/baloofilerc
config/vlc/
config/btop/
config/Mousepad/
config/calibre/
config/ncmpcpp/
config/wireshark/
config/dolphinrc
config/systemd/
config/Kitware/
config/Thunar/
config/htop/
config/kservicemenurc
config/ktrashrc
config/QtProject.conf
config/GitHub Desktop/
config/configstore/
config/inkscape/
config/tailscale/
